.orderPage {
  padding: 10px;

  &__title {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-weight: 700;
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & span {
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
}