.quickBar {
  position: relative;

  &__nav {
    display: flex;
    align-items: center;

    & div {
      margin-left: 30px;
      cursor: pointer;
    }
  }

  &__icon {
    cursor: pointer;
    position: relative;
  }
}

@media (max-width: 480px) {
 .quickBar{
   margin-top:20px;
 }
}