.header {
  padding: 0 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  margin-top: 15px;

  &__logoInform {
    display: flex;
    align-items: center;

    & img {
      margin-right: 16px;
      width: 40px;
      height: 40px;
    }

  }

  &__logoTitle {
    display: flex;
    flex-direction: column;

    & h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }

    & p {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
    }
  }
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}


@media (max-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}


@media (max-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}


@media (max-width: 576px) {
  .wrapper {
    width: 100%;
    padding: 0 15px;
  }
}

@media (max-width: 480px) {
  .header {
    height: 100%;
    flex-direction: column;

    &__logoInform {
      margin-top: 20px;
    }
  }
}