
.carousel {
  width: 100vw;
  height: 400px;
  margin: 0 auto;
}

.image {
  object-fit: cover;
  height: 100%;
}


@media (max-width: 992px) {
  .carousel {
    height: 300px;
  }
}


@media (max-width: 768px) {
  .carousel {
    height: 200px;
  }
}


@media (max-width: 576px) {
  .carousel {
    height: 160px;
  }
}

@media (max-width: 480px) {
  .carousel {
    height: 100px;
  }
}