.favouriteItem {
  padding: 5px 20px 10px 5px;
  display: flex;
  align-items: center;

  &__name {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }

  &__price {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-left: 10px;
  }
}

.favouriteItem__remove {
  cursor: grabbing;
  margin-left: 30px;
}